private
!private/README

# Ignore stage script - this will have password for staging environment
stage

# Ignore mounted storage 
data/*
!data/mysql-20170105
!data/wp-mysql-stg
!data/README
!data/wp-mysql-stg/README

# Ignore logs
logs/*
!logs/README
