#/etc/mysql/conf.d/my.cnf
#
#default-time-zone=''

[client]
port=3306
socket=/tmp/mysql.sock

[mysqld]
bind-address=0.0.0.0
port=3306
socket=/tmp/mysql.sock
key_buffer_size=16M
max_allowed_packet=8M

[mysqldump]
quick